  body {
    padding: 0;
    text-align: center;
  }
  
  .game-intro {
    float: left;
    padding: 0% 10%;
    background-color: brown;
    border: 5px solid black;
      
  }
  
  .game-intro p {
    padding: 40px 20px;
    font-size: 18px;
    font-family: "Verdana"
  }
  
   .logo-img {
    width: 450px;
  }
  
 
  
  body button {
    font-size: 20px;
    background-color: black;
    color: white;
    padding: 20px 20px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  #game-board {
      float: left;
     margin: auto;
      padding: 20px 0px;
      
  }
  