  body {
    padding: 0;
    text-align: center;
  }
  
  .game-intro {
    float: left;
    padding: 0% 10%;
    background-color: white;
    border: 5px solid black;
      display: block
  }
  
  .game-intro p {
    padding: 40px 20px;
    font-size: 18px;
    font-family: "Verdana"
  }
  
   .logo-img {
    width: 450px;
  }
  
 canvas {
  display :none;
 }
  
  #new-game-button {
    font-size: 20px;
    background-color: black;
    color: white;
    padding: 20px 20px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  #game-board {
      float: left;
     margin: auto;
      padding: 20px 0px;
      
  }
  


  #win-page{
    color: white;
    margin: 0 auto;
    display: none;
    background-image: url('../images/champions.jpg');
    width: 800px;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    border-radius: 10px;
    
  }
  
  #win-page button {
    font-size: 1em;
    display: block;
    margin: 50px auto;
    padding: 15px;
    border-radius: 10px;
    background-color: red;
    border: 1px solid white;
    color: white;
    cursor: pointer;
  }

  .game-over {
    float: left;
  padding: 10% 10%;
  background-color: black;
  height: 350px;
  width: 450px; /* Ancho igual al del canvas */
   /* Altura igual a la del canvas */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

  

  .gameover-img {
    width: 400px;
  }



  #try-again {
    font-size: 20px;
    background-color:rgb(48, 149, 202);
    color: black;
    padding: 10px 10px;
    border: 2px solid rgb(12, 91, 175);
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

